/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield !important;
}

.el-tabs__header {
    background-color: #3c4b64e7 !important;
}

:root {
    touch-action: pan-x pan-y ! important;
    height: 100% !important;
}

input {
    font-size: 16px !important;
}